@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.content-max-ancho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: auto;
}

h1, h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-top: 30px;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0;
}

.btn {
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#00F0B8), color-stop(50%, #0000FE), color-stop(50%, #00F3BB), to(#00F3BB));
  background-image: linear-gradient(90deg, #00F0B8 0%, #0000FE 50%, #00F3BB 50%, #00F3BB 100%);
  background-position: -100% 0;
  background-size: 200% 1px;
  padding: 12px;
  margin: 25px 0;
  color: black;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background-position: 0 0;
  color: white;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
}

ul li {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 5%;
  background: white;
}

nav .logo {
  width: 24px;
}

nav .menu-options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 44px;
  padding: 10px 0;
  background: #0000EC;
}

nav .menu-options .item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 5%;
}

nav .menu-options .item-menu a {
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav .menu-options .item-menu a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

nav .menu-options .item-menu a:active {
  color: #999999;
}

nav #burguer-close, nav .menu-options, nav #chek-nav-bar {
  display: none;
}

nav #chek-nav-bar:checked ~ #burguer-open {
  display: none;
}

nav #chek-nav-bar:checked ~ .menu-options, nav #chek-nav-bar:checked ~ #burguer-close {
  display: block;
}

main, #seccion-episodios h2, #seccion-origen h2, #seccion-origen p, #seccion-temas, #seccion-novedades .content {
  width: 100%;
  padding: 0 5%;
}

main h1 {
  margin: 25px 0 16px 0;
}

main h1 .txt-tachado {
  text-decoration: line-through;
}

main .p-desktop {
  display: none;
}

#seccion-episodios {
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 0 140px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0000A3), to(#0000FF));
  background-image: linear-gradient(0deg, #0000A3 0%, #0000FF 100%);
}

#seccion-episodios svg:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
}

#seccion-episodios svg:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

#seccion-episodios h2 {
  margin-bottom: 20px;
  color: white;
}

#seccion-episodios .content {
  width: 100%;
  padding: 0 3%;
}

#seccion-episodios .content iframe {
  width: 100%;
  margin-bottom: 5px;
}

#seccion-origen {
  z-index: 10;
  width: 100%;
}

#seccion-origen img {
  width: 100%;
  margin-top: -94px;
}

#seccion-invitadas h2 {
  width: 100%;
  padding: 11px 5% 16px 5%;
}

#seccion-invitadas .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#seccion-invitadas img {
  width: 100%;
}

#seccion-temas h2 {
  padding: 20px 0;
}

#seccion-temas .content {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0 0 25px 0;
}

#seccion-temas .content .sub-content {
  padding: 20px 0;
}

#seccion-temas .content .sub-content img {
  margin: 0 auto;
  width: 104px;
}

#seccion-novedades {
  position: relative;
  padding: 40px 0;
  background-image: linear-gradient(40deg, #0000A3 0%, #0000FF 65%);
}

#seccion-novedades svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
}

#seccion-novedades .content {
  text-align: center;
}

#seccion-novedades .content h2 {
  color: white;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 15px 0 30px 0;
}

footer i {
  padding: 13px 17px;
  color: black;
}

@media screen and (min-width: 426px) {
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
  h1 .color-azul {
    color: #0000EC;
  }
  h2 {
    font-size: 48px;
    line-height: 62px;
  }
  h3 {
    padding: 20px 0;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0;
  }
  .btn {
    display: inline-block;
    width: auto;
    font-size: 18px;
    padding: 16px 60px;
    margin: 55px 0;
  }
  nav {
    padding: 25px 6%;
  }
  nav .logo {
    width: 36px;
    padding: 6px 0;
  }
  nav .menu-options {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 510px;
    padding: 0;
    background: none;
  }
  nav .menu-options .item-menu {
    padding: 0 8px;
  }
  nav .menu-options .item-menu a {
    color: black;
    line-height: 3;
  }
  nav #burguer-open {
    display: none;
  }
  main, #seccion-episodios h2, #seccion-origen, #seccion-invitadas h2, #seccion-temas {
    width: 100%;
    padding: 0 14%;
  }
  main h1 {
    margin: 110px 0 0 0;
  }
  main h1 br {
    display: none;
  }
  main .p-mobile {
    display: none;
  }
  main .p-desktop {
    display: block;
  }
  #seccion-episodios {
    padding: 155px 0 250px 0;
    background-image: linear-gradient(60deg, #0000A3 10%, #0000FF 70%);
  }
  #seccion-episodios h2 {
    margin-bottom: 25px;
  }
  #seccion-episodios .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 60px 5%;
    width: 100%;
    padding: 0 6%;
  }
  #seccion-origen {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 60px 0;
  }
  #seccion-origen img {
    width: 435px;
    margin-top: -180px;
  }
  #seccion-origen h2 {
    margin-bottom: 30px;
  }
  #seccion-origen h2, #seccion-origen p {
    padding: 0 50px 0 0;
  }
  #seccion-invitadas {
    margin-top: 35px;
  }
  #seccion-invitadas h2 {
    margin-bottom: 30px;
  }
  #seccion-invitadas .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #seccion-temas h2 {
    padding: 25px 0;
  }
  #seccion-temas .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0;
  }
  #seccion-temas .content img {
    margin-bottom: 25px;
  }
  #seccion-novedades {
    background-image: linear-gradient(60deg, #0000A3 10%, #0000FF 70%);
    padding: 190px 0 130px 0;
  }
  #seccion-novedades .btn {
    margin: 25px 0;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 27px 6%;
  }
  footer p {
    line-height: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */